<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/external/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Grid & Media Template</title>
</head>
<body>
    
    <!--Nav section-->
    <nav>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <a href="#" class="brand">
                        <img src="assets/img/download.webp" alt="">
                    </a>
                </div>

                
                <label for="inp">
                    <i class="fas fa-bars"></i>
                </label>
                <input type="checkbox" id="inp">

                
                <div class="lists">
                    <ul class="items">
                        <li class="item"><a href="#">Home</a></li>
                        <li class="item"><a href="#shop">Shop</a></li>
                        <li class="item"><a href="#">About</a></li>
                        <li class="item"><a href="#">Latest</a>
                            <ul class="dropdown">
                                <li class="idrop"><a href="#">List</a></li>
                                <li class="idrop"><a href="#">List Details</a></li>
                            </ul>
                        </li>
                        <li class="item"><a href="#">Blog</a>
                            <ul class="dropdown">
                                <li class="idrop"><a href="#">Blog</a></li>
                                <li class="idrop"><a href="#">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="item"><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li class="idrop"><a href="#">Login</a></li>
                                <li class="idrop"><a href="#">Cart</a></li>
                                <li class="idrop"><a href="#">Element</a></li>
                                <li class="idrop"><a href="#">Confirmation</a></li>
                                <li class="idrop"><a href="#">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li class="item"><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="icons">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="far fa-user"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <!--Header section-->
    <header>
        <div class="container">
            <div class="content">
                <div class="content-desc">
                    <h1>Select Your New Perfect Style</h1>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                    <button class="btn"> SHOP NOW</button>
                </div>
                <div class="img">
                    <img src="assets/img/xwatch.png.pagespeed.ic.LlRtijfV2T.webp" alt="">
                </div>
            </div>
        </div>
    </header>

    <!--New-Arrivals section-->
    <section id="shop" class="new-arrivals">
        <div class="container">
            <div class="content">
                <div class="content-title">
                    <h2>New Arrivals</h2>
                </div>
                <div class="content-products">
                    <div class="product">
                        <div class="product-img">
                            <img src="assets/img/xnew_product1.png.pagespeed.ic.GC30TWVUh9.webp" alt="">
                        </div>
                        <div class="product-desc">
                            <a href="#">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-img">
                            <img src="assets/img/xnew_product2.png.pagespeed.ic.TisB6MUmE3.webp" alt="">
                        </div>
                        <div class="product-desc">
                            <a href="#">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-img">
                            <img src="assets/img/xnew_product3.png.pagespeed.ic.xG1joZNkeV.webp" alt="">
                        </div>
                        <div class="product-desc">
                            <a href="#">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Grid section-->
    <section class="grid">
        <div class="container">
            <div class="content">
                <div class="g-item">
                    <img src="assets/img/xgallery1.png.pagespeed.ic.RiMoEHAQJU.png" alt="">
                </div>
                <div class="g-item">
                    <img src="assets/img/xgallery2.png.pagespeed.ic.R67GzIjQgh.png" alt="">
                </div>
                <div class="g-item">
                    <img src="assets/img/xgallery3.png.pagespeed.ic.38W7JPYvku.png" alt="">
                </div>
                <div class="g-item">
                    <img src="assets/img/xgallery4.png.pagespeed.ic.eeH-radW60.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--Popular section-->
    <section class="popular">
        <div class="container">
            <div class="content">
                <div class="head-title">
                    <h2>Popular Items</h2>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </div>

                <div class="pic-content">
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular1.png.pagespeed.ic.V6f1NFO7gC.png" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular2.png.pagespeed.ic.tyRElexSbg.webp" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular3.png.pagespeed.ic.hSa1p1jqty.png" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular4.png.pagespeed.ic.-4ClcOF8fv.webp" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular5.png.pagespeed.ic.ak-jzjbDc8.png" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="pic-card">
                        <div class="pic">
                            <img src="assets/img/xpopular6.png.pagespeed.ic.Q3zrxHTInj.png" alt="">
                            <a href="#" class="link-card">Add to cart</a>
                            <a href="#" class="link-icon"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="pic-desc">
                            <a href="#" class="link-desc">Thermo Ball Etip Gloves</a>
                            <p>$ 45,743</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>VIEW MORE PRODUCTS</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Bg_video section-->
    <section class="bg-video">
        <button class="btn-icon"><i class="fas fa-play"></i></button>
        <div class="next-video">
            <p>NEXT VIDEO</p>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
        </div>
    </section>

    <!--Watch section-->
    <section class="watch">
        <div class="container">
            <div class="content">
                <div class="pic-desc">
                    <h2>Watch of Choice</h2>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <button>SHOW WATCHES</button>
                </div>
                <div class="pic">
                    <img src="assets/img/xchoce_watch1.png.pagespeed.ic.JqdVtLwPVf.png" alt="">
                </div>
            
                <div class="pic">
                    <img src="assets/img/xchoce_watch2.png.pagespeed.ic.GaOMVE1NLY.png" alt="">
                </div>
                <div class="pic-desc">
                    <h2>Watch of Choice</h2>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <button>SHOW WATCHES</button>
                </div>
               
            </div>
        </div>
    </section>

    <!--Advantages section-->
    <section class="advantages">
        <div class="container">
            <div class="content">
                <div class="advantage">
                    <i class="fas fa-box"></i>
                    <h6>Free Shipping Method</h6>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
                <div class="advantage">
                    <i class="fas fa-lock"></i>
                    <h6>Secure Payment System</h6>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
                <div class="advantage">
                    <i class="fas fa-sync"></i>
                    <h6>Secure Payment System</h6>
                    <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Footer section-->
    <footer>
        <div class="container">
            <div class="content">
                <div class="footer-top">
                    <div class="ft-item">
                        <img src="assets/img/download.webp" alt="">
                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                    </div>
                    <div class="ft-item">
                        <h6>Quick Links</h6>
                        <ul class="ft-list">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Offers & Discounts</a></li>
                            <li><a href="#">Get Coupon</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="ft-item">
                        <h6>New Products</h6>
                        <ul class="ft-list">
                            <li><a href="#">Woman Cloth</a></li>
                            <li><a href="#">Fashion Accessories</a></li>
                            <li><a href="#">Man Accessories</a></li>
                            <li><a href="#">Rubber made Toys</a></li>
                        </ul>
                    </div>
                    <div class="ft-item">
                        <h6>Support</h6>
                        <ul class="ft-list">
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Report a Payment Issue</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="fb-item">
                        <p>Copyright ©2021 All rights reserved | This template is made by Colorlib</p>
                    </div>
                    <div class="fb-item">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fas fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>




</body>
</html>